@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

:root {
	--clr-black: #111;
	--clr-white: #fff;
	--clr-normal: rgb(37, 37, 37);
	--clr-important: rgb(44, 17, 17);
	--clr-reminder: rgb(103, 150, 110);
	--clr-btn-save: rgb(70, 70, 70);
}

* {
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
	color: white;
}

body {
	background-color: var(--clr-black);
}

.app-container {
	border: 2px solid var(--clr-white);
	margin: 50px auto;
	width: 800px;
	max-width: calc(100vw - 50px);
	border-radius: 40px;
	padding: 30px;
}

.header-container {
	display: flex;
	justify-content: space-between;
}

.btn {
	height: 30px;
	width: 155px;
	padding: 5px 10px;
	color: black;
	background-color: var(--clr-white);
	border-radius: 5px;
	margin-top: 5px;
	text-decoration: none;
	border: none;
	font-weight: bolder;
	cursor: pointer;
}

.btn:active {
	transform: scale(0.98);
}

.form-container {
	display: flex;
	justify-content: space-around;
	padding: 10px;
}

.input {
	height: 25px;
	width: 100%;
	margin-bottom: 10px;
	margin-top: 5px;
	display: block;
	color: var(--clr-black);
}

.form-left, .form-right {
	padding: 10px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-left > div, .form-right > div {
	width: 100%;
}

.reminder-container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.reminder-checkbox {
	cursor: pointer;
	display: flex;
	align-items: flex-end;
}

.reminder-checkbox > input[type='checkbox'] {
	margin-left: 15px;
	width: 17px;
	height: 17px;
}

.btn-save {
	height: 30px;
	width: 100px;
	padding: 5px 10px;
	color: var(--clr-white);
	background-color: var(--clr-btn-save);
	border-radius: 5px;
	text-decoration: none;
	border: none;
	font-weight: bolder;
	cursor: pointer;
	display: block;
}

.btn-save:active {
	transform: scale(0.98);
}

.todo-container {
	background-color: var(--clr-normal);
	margin-top: 10px;
	display: grid;
	grid-template-columns: 3fr 2fr 40px;
	grid-template-rows: repeat(minmax(30px, auto), 3);
	padding: 10px;
	cursor: pointer;
	gap: 10px;
}

.reminder-on {
	border-left: 7px solid var(--clr-reminder);
}

.important {
	background-color: var(--clr-important);
}

.grid-name {
	grid-column: 1;
	grid-row: 1;
	border-bottom: 2px solid #444;
}
.grid-desc {
	grid-column: 1;
	grid-row: 2/4;
}
.grid-cat {
	grid-column: 2;
	grid-row: 1;
}
.grid-time {
	grid-column: 2;
	grid-row: 2;
}
.grid-priority {
	grid-column: 2;
	grid-row: 3;
}
.grid-x-icon {
	height: 30px;
	width: 30px;
	grid-column: 3;
	grid-row: 1;
	justify-self: end;
	align-self: auto;
}

footer {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (max-width: 650px) {
	.form-container {
		display: block;
		padding-left: 0px;
		padding-right: 0px;
	}
	.form-left, .form-right {
		padding-left: 0px;
		padding-right: 0px;
	}
}

@media (max-width: 750px) {
	.todo-container {
		grid-template-columns: 1fr 40px;
		grid-auto-rows: minmax(30px, auto);
	}
	.grid-name { grid-column: 1; grid-row: 1 }
	.grid-desc { grid-column: 1; grid-row: 2 }
	.grid-cat { grid-column: 1; grid-row: 3 }
	.grid-time { grid-column: 1; grid-row: 4 }
	.grid-priority { grid-column: 1; grid-row: 5 }
	.grid-x-icon { grid-column: 2; grid-row: 1 }
}
